{% extends "layout.html" %}


{% block content %}
<script type = "text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

<script type = "text/javascript">
setTimeout(function() {
    document.getElementById("submit").disabled = false;
    }, {{ timer }});
</script>



<title>Questions</title>
<h1 style="text-align:center;">Tasks</h1>
<div class="content">
    <div>
        <h2>Task</h2>
        <p>How many questions does this experiment have in total?
        </p>
    </div>



    <div>
        <div class="col-container">
            <strong style="font-size:20px;">A</strong>
            <p class="answer-left" id="answer_A" onclick="changeAnswer(0);" >
                24
            </p>
            <strong style="font-size:20px;">B</strong>
            <p class="answer-right" id="answer_B" onclick="changeAnswer(1);">
                20
            </p>
        </div>
        <div class="col-container">
            <strong style="font-size:20px;">C</strong>
            <p class="answer-left" id="answer_C" onclick="changeAnswer(2);">
                16
            </p>
            <strong style="font-size:20px;">D</strong>
            <p class="answer-right" id="answer_D" onclick="changeAnswer(3);">
                12
            </p>
        </div>
    </div>
</div>

<form method="POST" action="">
    {{ form.hidden_tag()}}
    <input type="hidden" id="answer" name="answer">
    {{ form.submit(hidden='true', id='form-submit') }}
    <button class="btn btn-success btn-block js-button" type="submit" id="submit" disabled="disabled">Confirm and continue</button>
</form>
{% endblock content %}