{% extends "layout.html" %}

<!-- <link rel="stylesheet" href="./application/static/main.css"> -->
{% block content %}
<title>Introduction</title>
<script type = "text/javascript">
setTimeout(function() {
    document.getElementById("submit").disabled = false;
    }, {{ timer }});
</script>

<h1 style="text-align:center">Informed Consent</h1>
<p style="text-align:center; font-size:20px; padding: 1em;" > Welcome to this study! In this study you will be asked to
  answer 16 multiple choice questions related to logical reasoning. On answering the question, the same question will be
  shown again, but with an answer predicted and advised by an AI system. The accuracy of the AI is 63%. With this
  prediction you can reconsider you answer, and answer the question again. For each question you will be provided with
  some context. You should answer the questions according to the given context. You can only select one answer, chose
  the one that (most) accurately answers the question. After selecting the answer you can click the button “Confirm and
  Continue” to go to the next question. At the end of the study you will also be asked to fill out two short questionnaires.</p>
  <p style="text-align:center; font-size:20px; padding: 1em;" >
  You will first start with part 1 consisting of 6 questions, then a part 2 consisting of 4 questions and last part 3
  consisting of 6 questions. By clicking “Confirm and Continue” on this page you confirm that you are participating in
  this experiment and know that your answers are recorded for research. Note that no information pertaining to your
  platform identity will ever be shared publicly. </p>





<form method="POST" action="">
  {{ form.hidden_tag()}}
  {{ form.submit(hidden='true', id='form-submit') }}
  <button class="btn btn-success btn-block js-button" type="submit" id="submit" disabled="disabled">Confirm and continue</button>
</form>


{% endblock content%}