{% extends "layout.html" %}

<!-- <link rel="stylesheet" href="./application/static/main.css"> -->
{% block content %}
<title>Correct</title>
<h1 style="text-align:center;">Last Set of Questions</h1>
<p style="text-align:center; font-size:20px; padding: 1em; padding-top:50px;">  The tutorial is over, you will now enter the last set of questions. Consisting of 6 more questions.</p>

<form method="POST" action="">
    <div style="padding-top:50px;">{{ form.submit(class="btn btn-success btn-block") }}</div>
</form>


{% endblock content%}