{% extends "layout.html" %}

<!-- <link rel="stylesheet" href="./application/static/main.css"> -->
{% block content %}
<title>Correct</title>
<h1 style="text-align:center;">Tutorial</h1>
<p style="text-align:center; font-size:20px; padding: 1em; padding-top:30px;" >  The next 5 questions work the same way as the previous 7, but are not asked about in the surveys</p>

<form method="POST" action="">
    <div style="padding-top:30px;">{{ form.submit(class="btn btn-success btn-block") }}</div>
</form>


{% endblock content%}