{% extends "layout.html" %}

{% block content %}


<script type = "text/javascript">
let TIA1 = ['tia1_0', 'tia1_1', 'tia1_2', 'tia1_3', 'tia1_4', 'tia1_5'];

    function tia1(id) {
        for (let i = 0; i < TIA1.length; i++) {
            let question = document.getElementById(TIA1[i]);
            if (question.classList.contains("active_tia1")) {
                question.classList.remove("active_tia1");
            }
        }
      document.getElementById(TIA1[id]).classList.add("active_tia1");
      answers = ['0', '1', '2', '3', '4', '5']
      document.getElementById("tia1").value = answers[id]
}

let TIA2 = ['tia2_0', 'tia2_1', 'tia2_2', 'tia2_3', 'tia2_4', 'tia2_5'];

    function tia2(id) {
        for (let i = 0; i < TIA2.length; i++) {
            let question = document.getElementById(TIA2[i]);
            if (question.classList.contains("active_tia2")) {
                question.classList.remove("active_tia2");
            }
        }
      document.getElementById(TIA2[id]).classList.add("active_tia2");
      answers = ['0', '1', '2', '3', '4', '5']
      document.getElementById("tia2").value = answers[id]
}

let TIA3 = ['tia3_0', 'tia3_1', 'tia3_2', 'tia3_3', 'tia3_4', 'tia3_5'];

    function tia3(id) {
        for (let i = 0; i < TIA3.length; i++) {
            let question = document.getElementById(TIA3[i]);
            if (question.classList.contains("active_tia3")) {
                question.classList.remove("active_tia3");
            }
        }
      document.getElementById(TIA3[id]).classList.add("active_tia3");
      answers = ['0', '1', '2', '3', '4', '5']
      document.getElementById("tia3").value = answers[id]
}

let TIA4 = ['tia4_0', 'tia4_1', 'tia4_2', 'tia4_3', 'tia4_4', 'tia4_5'];

    function tia4(id) {
        for (let i = 0; i < TIA4.length; i++) {
            let question = document.getElementById(TIA4[i]);
            if (question.classList.contains("active_tia4")) {
                question.classList.remove("active_tia4");
            }
        }
      document.getElementById(TIA4[id]).classList.add("active_tia4");
      answers = ['0', '1', '2', '3', '4', '5']
      document.getElementById("tia4").value = answers[id]
}

let TIA5 = ['tia5_0', 'tia5_1', 'tia5_2', 'tia5_3', 'tia5_4', 'tia5_5'];

    function tia5(id) {
        for (let i = 0; i < TIA5.length; i++) {
            let question = document.getElementById(TIA5[i]);
            if (question.classList.contains("active_tia5")) {
                question.classList.remove("active_tia5");
            }
        }
      document.getElementById(TIA5[id]).classList.add("active_tia5");
      answers = ['0', '1', '2', '3', '4', '5']
      document.getElementById("tia5").value = answers[id]
}

</script>
<script type = "text/javascript">
setTimeout(function() {
    document.getElementById("submit").disabled = false;
    }, {{ timer }});
</script>

<title>Survey</title>

<h1 style="text-align:center;">Questionnaire</h1>
<br><br><br>
<p style="font-size:20px;">This page contains 5 questions. <br> 1 = completely disagree,
    2 = largely disagree, 3 = slightly disagree, <br> 4 = slightly agree, 5 = largely agree and 6 = strongly agree </p>

<br>
<br>
<br>

<p style="font-size:20px;">1. I trust the system</p>
<div class="col-container">
    <p class="survey_answer" id="tia1_0" onclick="tia1(0);" >
        1
    </p>
    <p class="survey_answer" id="tia1_1" onclick="tia1(1);" >
        2
    </p>
    <p class="survey_answer" id="tia1_2" onclick="tia1(2);">
        3
    </p>
    <p class="survey_answer" id="tia1_3" onclick="tia1(3);">
        4
    </p>
    <p class="survey_answer" id="tia1_4" onclick="tia1(4);">
        5
    </p>
    <p class="survey_answer" id="tia1_5" onclick="tia1(5);">
        6
    </p>

</div>
<br>

<p style="font-size:20px;">2. I can rely on the system</p>
<div class="col-container">
    <p class="survey_answer" id="tia2_0" onclick="tia2(0);" >
        1
    </p>
    <p class="survey_answer" id="tia2_1" onclick="tia2(1);" >
        2
    </p>
    <p class="survey_answer" id="tia2_2" onclick="tia2(2);">
        3
    </p>
    <p class="survey_answer" id="tia2_3" onclick="tia2(3);">
        4
    </p>
    <p class="survey_answer" id="tia2_4" onclick="tia2(4);">
        5
    </p>
    <p class="survey_answer" id="tia2_5" onclick="tia2(5);">
        6
    </p>

</div>
<br>

<p style="font-size:20px;">3. One should be careful with unfamiliar automated systems</p>
<div class="col-container">
    <p class="survey_answer" id="tia3_0" onclick="tia3(0);" >
        1
    </p>
    <p class="survey_answer" id="tia3_1" onclick="tia3(1);" >
        2
    </p>
    <p class="survey_answer" id="tia3_2" onclick="tia3(2);">
        3
    </p>
    <p class="survey_answer" id="tia3_3" onclick="tia3(3);">
        4
    </p>
    <p class="survey_answer" id="tia3_4" onclick="tia3(4);">
        5
    </p>
    <p class="survey_answer" id="tia3_5" onclick="tia3(5);">
        6
    </p>

</div>
<br>

<p style="font-size:20px;">4. I rather trust a system than I mistrust it</p>
<div class="col-container">
    <p class="survey_answer" id="tia4_0" onclick="tia4(0);" >
        1
    </p>
    <p class="survey_answer" id="tia4_1" onclick="tia4(1);" >
        2
    </p>
    <p class="survey_answer" id="tia4_2" onclick="tia4(2);">
        3
    </p>
    <p class="survey_answer" id="tia4_3" onclick="tia4(3);">
        4
    </p>
    <p class="survey_answer" id="tia4_4" onclick="tia4(4);">
        5
    </p>
    <p class="survey_answer" id="tia4_5" onclick="tia4(5);">
        6
    </p>

</div>
<br>

<p style="font-size:20px;">5. Automated systems generally work well</p>
<div class="col-container">
    <p class="survey_answer" id="tia5_0" onclick="tia5(0);" >
        1
    </p>
    <p class="survey_answer" id="tia5_1" onclick="tia5(1);" >
        2
    </p>
    <p class="survey_answer" id="tia5_2" onclick="tia5(2);">
        3
    </p>
    <p class="survey_answer" id="tia5_3" onclick="tia5(3);">
        4
    </p>
    <p class="survey_answer" id="tia5_4" onclick="tia5(4);">
        5
    </p>
    <p class="survey_answer" id="tia5_5" onclick="tia5(5);">
        6
    </p>

</div>
<br>



<br><br>



<form method="POST" action="">
    {{ form.hidden_tag()}}
    <input type="hidden" id="tia1" name="tia1">
    <input type="hidden" id="tia2" name="tia2">
    <input type="hidden" id="tia3" name="tia3">
    <input type="hidden" id="tia4" name="tia4">
    <input type="hidden" id="tia5" name="tia5">
    {{ form.submit(hidden='true', id='form-submit') }}
    <button class="btn btn-success btn-block js-button" type="submit" id="submit" disabled="disabled">Confirm and continue</button>
</form>

<style>
  .survey_answer{
    text-align:center;
    border: 3px solid #0C2340;
    font-size:34px;
    border-radius: 50%;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    width: 60px;

  }

  .active_tia1 {
    background-color: #0C2340;
    color: white;
  }

  .active_tia2 {
    background-color: #0C2340;
    color: white;
  }

  .active_tia3 {
    background-color: #0C2340;
    color: white;
  }

  .active_tia4 {
    background-color: #0C2340;
    color: white;
  }

  .active_tia5 {
    background-color: #0C2340;
    color: white;
  }
</style>


{% endblock content %}