{% extends "layout.html" %}

<!-- <link rel="stylesheet" href="./application/static/main.css"> -->
{% block content %}
<title>End</title>
<h1 style="text-align:center">End of Experiment</h1>
<p style="text-align:center; padding: 1em; font-size:22px;" >Thank you for participating in this experiment, you have answered all questions and may close this page. </p>


<!---<a href="{{ url_for('questions') }}" type="button" class="btn  btn-primary pull-right" style="float: right; margin:5px;" >Confirm and continue</a>-->

{% endblock content%}
