{% extends "layout.html" %}

{% block content %}
<title>Introduction</title>
<h1 style="text-align:center">Informed Consent</h1>
<p style="text-align:center; font-size:20px; padding: 1em;" > Welcome to this experiment.
    In this experiment you will be asked to answer 33 multiple choice logic questions.
    For each question we have a context paragraph, you should answer the question according to this context.
    You can only select one answer, chose the one that (most) accurately answers the question.
    After selecting the answer you can click confirm and continue to go to the next question.
    By clicking confirm and continue on this page you confirm that you are participating in this experiment and know that your answers are recorded for research. </p>
<form method="POST" action="">
    {{ form.submit(class="btn btn-outline-dark") }}
</form>

<style>
    mark{
        background-color: #FAD02C;
    }
</style>

{% endblock content%}
