{% extends "layout.html" %}

{% block content %}
<script type = "text/javascript">
setTimeout(function() {
    document.getElementById("submit").disabled = false;
    }, {{ timer }});
</script>

<title>Correct</title>
<h1 style="text-align:center;">Tutorial</h1>
<p style="text-align:center; font-size:20px; padding: 1em; padding-top:30px;" >  The next 4 questions are a tutorial, the questions work the same way as the questions done before with one addition.
After answering the question, you will be shown whether your final answer (after getting AI advice) was correct,
    if the answer is incorrect you will be shown an explanation on why another answer is better than you answer.</p>

<form method="POST" action="">
    {{ form.hidden_tag()}}
    {{ form.submit(hidden='true', id='form-submit') }}
    <button class="btn btn-success btn-block js-button" type="submit" id="submit" disabled="disabled">Confirm and continue</button>
</form>


{% endblock content%}