{% extends "layout.html" %}

{% block content %}
<title>Instruction</title>
<h1 style="text-align:center">Instruction</h1>
<p style="text-align:center; font-size:20px; padding: 1em; padding-top:50px;" >
    The AI system considers the sections of text in the context paragraph as well as the options to provide advice in
    the logical reasoning task. Alongside the advice presented by the AI system, the AI system provides an explanation
    for its advice. Some phrases in the context (and in some cases, in the options) are highlighted to indicate that the
    AI system thinks they are most important in shaping its final advice.
</p>
<form method="POST" action="" style="padding-top:100px;">
    {{ form.submit(class="btn btn-success btn-block") }}
</form>


{% endblock content%}
